/* BEGIN RESET

Copyright (c) 2010, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.com/yui/license.html
version: 2.8.2r1
*/

#content{
	width: calc(100% - 16em) !important;
}

#navigation h1{
	display: none;
}
#navigation{
	text-align: center;
}


html {
	color: #000;
	background: #FFF;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td {
	margin: 0;
	padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset,img {
	border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var,optgroup {
	font-style: inherit;
	font-weight: inherit;
}
del,ins {
	text-decoration: none;
}
li {
	margin-left: 20px;
}
caption,th {
	text-align: left;
}
h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: bold;
}
q:before,q:after {
	content: '';
}
abbr,acronym {
	border: 0;
	font-variant: normal;
}
sup {
	vertical-align: baseline;
}
sub {
	vertical-align: baseline;
}
legend {
	color: #000;
}
input,button,textarea,select,optgroup,option {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
}
input,button,textarea,select {*font-size:100%;
}
/* END RESET */

body {
	margin-left: 1em;
	margin-right: 1em;
	font-family: arial, helvetica, geneva, sans-serif;
	background-color: #ffffff; margin: 0px;
}

code, tt { font-family: monospace; font-size: 1.1em; }
span.parameter { font-family:monospace; }
span.parameter:after { content:":"; }
span.types:before { content:"("; }
span.types:after { content:")"; }
.type { font-weight: bold; font-style:italic }

body, p, td, th { font-size: .95em; line-height: 1.2em;}

p, ul { margin: 10px 0 0 0px;}

strong { font-weight: bold;}

em { font-style: italic;}

h1 {
	font-size: 1.5em;
	margin: 20px 0 20px 0;
}
h2, h3, h4 { margin: 15px 0 10px 0; }
h2 { font-size: 1.25em; }
h3 { font-size: 1.15em; }
h4 { font-size: 1.06em; }

a:link { font-weight: bold; color: #004080; text-decoration: none; }
a:visited { font-weight: bold; color: #006699; text-decoration: none; }
a:link:hover { text-decoration: underline; }

hr {
	color:#cccccc;
	background: #00007f;
	height: 1px;
}

blockquote { margin-left: 3em; }

ul { list-style-type: disc; }

p.name {
	font-family: "Andale Mono", monospace;
	padding-top: 1em;
}

pre {
	background-color: rgb(245, 245, 245);
	border: 1px solid #C0C0C0; /* silver */
	padding: 10px;
	margin: 10px 0 10px 0;
	overflow: auto;
	font-family: "Andale Mono", monospace;
}

pre.example {
	font-size: .85em;
}

table.index { border: 1px #00007f; }
table.index td { text-align: left; vertical-align: top; }

#container {
	margin-left: 1em;
	margin-right: 1em;
	background-color: #f0f0f0;
}

#product {
	text-align: center;
	border-bottom: 1px solid #cccccc;
	background-color: #ffffff;
}

#product big {
	font-size: 2em;
}

#main {
	background-color: #f0f0f0;
	border-left: 2px solid #cccccc;
}

#navigation {
	float: left;
	width: 14em;
	vertical-align: top;
	background-color: #f0f0f0;
	overflow: visible;
}

#navigation h2 {
	background-color:#e7e7e7;
	font-size:1.1em;
	color:#000000;
	text-align: left;
	padding:0.2em;
	border-top:1px solid #dddddd;
	border-bottom:1px solid #dddddd;
}

#navigation ul
{
	font-size:1em;
	list-style-type: none;
	margin: 1px 1px 10px 1px;
}

#navigation li {
	text-indent: -1em;
	display: block;
	margin: 3px 0px 0px 22px;
}

#navigation li li a {
	margin: 0px 3px 0px -1em;
}

#content {
	margin-left: 14em;
	padding: 1em;
	width: 700px;
	border-left: 2px solid #cccccc;
	border-right: 2px solid #cccccc;
	background-color: #ffffff;
}

#about {
	clear: both;
	padding: 5px;
	border-top: 2px solid #cccccc;
	background-color: #ffffff;
}

@media print {
	body {
		font: 12pt "Times New Roman", "TimeNR", Times, serif;
	}
	a { font-weight: bold; color: #004080; text-decoration: underline; }

	#main {
		background-color: #ffffff;
		border-left: 0px;
	}

	#container {
		margin-left: 2%;
		margin-right: 2%;
		background-color: #ffffff;
	}

	#content {
		padding: 1em;
		background-color: #ffffff;
	}

	#navigation {
		display: none;
	}
	pre.example {
		font-family: "Andale Mono", monospace;
		font-size: 10pt;
		page-break-inside: avoid;
	}
}

table.module_list {
	border-width: 1px;
	border-style: solid;
	border-color: #cccccc;
	border-collapse: collapse;
}
table.module_list td {
	border-width: 1px;
	padding: 3px;
	border-style: solid;
	border-color: #cccccc;
}
table.module_list td.name { background-color: #f0f0f0; min-width: 200px; }
table.module_list td.summary { width: 100%; }


table.function_list {
	border-width: 1px;
	border-style: solid;
	border-color: #cccccc;
	border-collapse: collapse;
}
table.function_list td {
	border-width: 1px;
	padding: 3px;
	border-style: solid;
	border-color: #cccccc;
}
table.function_list td.name { background-color: #f0f0f0; min-width: 200px; }
table.function_list td.summary { width: 100%; }

ul.nowrap {
	overflow:auto;
	white-space:nowrap;
}

dl.table dt, dl.function dt {border-top: 1px solid #ccc; padding-top: 1em;}
dl.table dd, dl.function dd {padding-bottom: 1em; margin: 10px 0 0 20px;}
dl.table h3, dl.function h3 {font-size: .95em;}

/* stop sublists from having initial vertical space */
ul ul { margin-top: 0px; }
ol ul { margin-top: 0px; }
ol ol { margin-top: 0px; }
ul ol { margin-top: 0px; }

/* make the target distinct; helps when we're navigating to a function */
a:target + * {
	background-color: #FF9;
}


/* styles for prettification of source */
pre .comment { color: #558817; }
pre .constant { color: #a8660d; }
pre .escape { color: #844631; }
pre .keyword { color: #aa5050; font-weight: bold; }
pre .library { color: #0e7c6b; }
pre .marker { color: #512b1e; background: #fedc56; font-weight: bold; }
pre .string { color: #8080ff; }
pre .number { color: #f8660d; }
pre .operator { color: #2239a8; font-weight: bold; }
pre .preprocessor, pre .prepro { color: #a33243; }
pre .global { color: #800080; }
pre .user-keyword { color: #800080; }
pre .prompt { color: #558817; }
pre .url { color: #272fc2; text-decoration: underline; }

html {
	color: #000;
	background: #FFF;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td {
	margin: 0;
	padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset,img {
	border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var,optgroup {
	font-style: inherit;
	font-weight: inherit;
}
del,ins {
	text-decoration: none;
}
li {
	margin-left: 20px;
}
caption,th {
	text-align: left;
}
h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: bold;
}
q:before,q:after {
	content: '';
}
abbr,acronym {
	border: 0;
	font-variant: normal;
}
sup {
	vertical-align: baseline;
}
sub {
	vertical-align: baseline;
}
legend {
	color: #000;
}
input,button,textarea,select,optgroup,option {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
}
input,button,textarea,select {*font-size:100%;
}
/* END RESET */

body {
	margin-left: 1em;
	margin-right: 1em;
	font-family: arial, helvetica, geneva, sans-serif;
	background-color: #ffffff; margin: 0px;
}

code, tt { font-family: monospace; font-size: 1.1em; }
span.parameter { font-family:monospace; }
span.parameter:after { content:":"; }
span.types:before { content:"("; }
span.types:after { content:")"; }
.type { font-weight: bold; font-style:italic }

body, p, td, th { font-size: .95em; line-height: 1.2em;}

p, ul { margin: 10px 0 0 0px;}

strong { font-weight: bold;}

em { font-style: italic;}

h1 {
	font-size: 1.5em;
	margin: 20px 0 20px 0;
}
h2, h3, h4 { margin: 15px 0 10px 0; }
h2 { font-size: 1.25em; }
h3 { font-size: 1.15em; }
h4 { font-size: 1.06em; }

a:link { font-weight: bold; color: #004080; text-decoration: none; }
a:visited { font-weight: bold; color: #006699; text-decoration: none; }
a:link:hover { text-decoration: underline; }

hr {
	color:#cccccc;
	background: #00007f;
	height: 1px;
}

blockquote { margin-left: 3em; }

ul { list-style-type: disc; }

p.name {
	font-family: "Andale Mono", monospace;
	padding-top: 1em;
}

pre {
	background-color: rgb(245, 245, 245);
	border: 1px solid #C0C0C0; /* silver */
	padding: 10px;
	margin: 10px 0 10px 0;
	overflow: auto;
	font-family: "Andale Mono", monospace;
}

pre.example {
	font-size: .85em;
}

table.index { border: 1px #00007f; }
table.index td { text-align: left; vertical-align: top; }

#container {
	margin-left: 1em;
	margin-right: 1em;
	background-color: #f0f0f0;
}

#product {
	text-align: center;
	border-bottom: 1px solid #cccccc;
	background-color: #ffffff;
}

#product big {
	font-size: 2em;
}

#main {
	background-color: #f0f0f0;
	border-left: 2px solid #cccccc;
}

#navigation {
	float: left;
	width: 14em;
	vertical-align: top;
	background-color: #f0f0f0;
	overflow: visible;
}

#navigation h2 {
	background-color:#e7e7e7;
	font-size:1.1em;
	color:#000000;
	text-align: left;
	padding:0.2em;
	border-top:1px solid #dddddd;
	border-bottom:1px solid #dddddd;
}

#navigation ul
{
	font-size:1em;
	list-style-type: none;
	margin: 1px 1px 10px 1px;
}

#navigation li {
	text-indent: -1em;
	display: block;
	margin: 3px 0px 0px 22px;
}

#navigation li li a {
	margin: 0px 3px 0px -1em;
}

#content {
	margin-left: 14em;
	padding: 1em;
	width: 700px;
	border-left: 2px solid #cccccc;
	border-right: 2px solid #cccccc;
	background-color: #ffffff;
}

#about {
	clear: both;
	padding: 5px;
	border-top: 2px solid #cccccc;
	background-color: #ffffff;
}

@media print {
	body {
		font: 12pt "Times New Roman", "TimeNR", Times, serif;
	}
	a { font-weight: bold; color: #004080; text-decoration: underline; }

	#main {
		background-color: #ffffff;
		border-left: 0px;
	}

	#container {
		margin-left: 2%;
		margin-right: 2%;
		background-color: #ffffff;
	}

	#content {
		padding: 1em;
		background-color: #ffffff;
	}

	#navigation {
		display: none;
	}
	pre.example {
		font-family: "Andale Mono", monospace;
		font-size: 10pt;
		page-break-inside: avoid;
	}
}

table.module_list {
	border-width: 1px;
	border-style: solid;
	border-color: #cccccc;
	border-collapse: collapse;
}
table.module_list td {
	border-width: 1px;
	padding: 3px;
	border-style: solid;
	border-color: #cccccc;
}
table.module_list td.name { background-color: #f0f0f0; min-width: 200px; }
table.module_list td.summary { width: 100%; }


table.function_list {
	border-width: 1px;
	border-style: solid;
	border-color: #cccccc;
	border-collapse: collapse;
}
table.function_list td {
	border-width: 1px;
	padding: 3px;
	border-style: solid;
	border-color: #cccccc;
}
table.function_list td.name { background-color: #f0f0f0; min-width: 200px; }
table.function_list td.summary { width: 100%; }

ul.nowrap {
	overflow:auto;
	white-space:nowrap;
}

dl.table dt, dl.function dt {border-top: 1px solid #ccc; padding-top: 1em;}
dl.table dd, dl.function dd {padding-bottom: 1em; margin: 10px 0 0 20px;}
dl.table h3, dl.function h3 {font-size: .95em;}

/* stop sublists from having initial vertical space */
ul ul { margin-top: 0px; }
ol ul { margin-top: 0px; }
ol ol { margin-top: 0px; }
ul ol { margin-top: 0px; }

/* make the target distinct; helps when we're navigating to a function */
a:target + * {
	background-color: #FF9;
}


/* styles for prettification of source */
pre .comment { color: #558817; }
pre .constant { color: #a8660d; }
pre .escape { color: #844631; }
pre .keyword { color: #aa5050; font-weight: bold; }
pre .library { color: #0e7c6b; }
pre .marker { color: #512b1e; background: #fedc56; font-weight: bold; }
pre .string { color: #8080ff; }
pre .number { color: #f8660d; }
pre .operator { color: #2239a8; font-weight: bold; }
pre .preprocessor, pre .prepro { color: #a33243; }
pre .global { color: #800080; }
pre .user-keyword { color: #800080; }
pre .prompt { color: #558817; }
pre .url { color: #272fc2; text-decoration: underline; }




*{
	border-color: #555 !important;
}




a { color: rgb(140, 140, 250); }::-webkit-scrollbar-track-piece { background-color: rgba(255, 255, 255, 0.2) !important; }::-webkit-scrollbar-track { background-color: rgba(255, 255, 255, 0.3) !important; }::-webkit-scrollbar-thumb { background-color: rgba(255, 255, 255, 0.5) !important; }embed[type="application/pdf"] { filter: invert(90%); }

html { color: rgb(191, 191, 191); background: rgb(31, 31, 31) !important; }body { background-color: rgb(31, 31, 31); background-image: none !important; }input, select, textarea, button { color: rgb(191, 191, 191); background-color: rgb(31, 31, 31); }font { color: rgb(191, 191, 191); }

html { filter: contrast(100%) brightness(100%) saturate(100%); }.NIGHTEYE_Filter { width: 100%; height: 100%; position: fixed; left: 0px; top: 0px; pointer-events: none; z-index: 2147483647; }.NIGHTEYE_YellowFilter { background: rgba(255, 255, 0, 0.15); opacity: 0; }.NIGHTEYE_BlueFilter { background: rgba(0, 0, 255, 0.15); opacity: 0; }.NIGHTEYE_DimFilter { background: rgba(0, 0, 0, 0.5); opacity: 0; }.NIGHTEYE_TransformZ { transform: translateZ(0px); }

html { color: rgb(191, 191, 191); background: rgb(28, 28, 33); }body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td { margin: 0px; padding: 0px; }table { border-collapse: collapse; border-spacing: 0px; }fieldset, img { border: 0px; }address, caption, cite, code, dfn, em, strong, th, var, optgroup { font-style: inherit; font-weight: inherit; }del, ins { text-decoration: none; }li { margin-left: 20px; }caption, th { text-align: left; }h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: bold; }q::before, q::after { content: ""; }abbr, acronym { border: 0px; font-variant: normal; }sup { vertical-align: baseline; }sub { vertical-align: baseline; }legend { color: rgb(191, 191, 191); }input, button, textarea, select, optgroup, option { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; }input, button, textarea, select { }body { font-family: arial, helvetica, geneva, sans-serif; background-color: rgb(28, 28, 33); margin: 0px; }code, tt { font-family: monospace; font-size: 1.1em; }span.parameter { font-family: monospace; }span.parameter::after { content: ":"; }span.types::before { content: "("; }span.types::after { content: ")"; }.type { font-weight: bold; font-style: italic; }body, p, td, th { font-size: 0.95em; line-height: 1.2em; }p, ul { margin: 10px 0px 0px; }strong { font-weight: bold; }em { font-style: italic; }h1 { font-size: 1.5em; margin: 0px 0px 20px; }h2, h3, h4 { margin: 15px 0px 10px; }h2 { font-size: 1.25em; }h3 { font-size: 1.15em; }h4 { font-size: 1.06em; }a:link { font-weight: bold; color: rgb(153, 191, 230); text-decoration: none; }a:visited { font-weight: bold; color: rgb(153, 204, 230); text-decoration: none; }a:link:hover { text-decoration: underline; }hr { color: rgb(204, 204, 204); background: rgb(25, 25, 102); height: 1px; }blockquote { margin-left: 3em; }ul { list-style-type: disc; }p.name { font-family: "Andale Mono", monospace; padding-top: 1em; }pre.example { background-color: rgb(36, 36, 36); border: 1px solid rgb(89, 89, 89); padding: 10px; margin: 10px 0px; font-family: "Andale Mono", monospace; font-size: 0.85em; }pre { background-color: rgb(12, 12, 49); border: 1px solid rgb(77, 77, 77); padding: 10px; margin: 10px 0px; overflow: auto; font-family: "Andale Mono", monospace; }table.index { border: 1px rgb(25, 25, 102); }table.index td { text-align: left; vertical-align: top; }#container { margin-left: 1em; margin-right: 1em; background-color: rgb(28, 28, 33); }#product { text-align: center; border-bottom: 1px solid rgb(77, 77, 77); background-color: rgb(28, 28, 33); }#product big { font-size: 2em; }#main { background-color: rgb(28, 28, 33); }#navigation { float: left; width: 14em; vertical-align: top; background-color: rgb(28, 28, 33); border-right: 2px solid rgb(77, 77, 77); overflow: visible; }#navigation h2 { background-color: rgb(28, 28, 33); font-size: 1.1em; color: rgb(191, 191, 191); text-align: left; padding: 0.2em; border-bottom: 1px solid rgb(59, 59, 59); }#navigation ul { font-size: 1em; list-style-type: none; margin: 1px 1px 10px; }#navigation li { text-indent: -1em; display: block; margin: 3px 0px 0px 22px; }#navigation li li a { margin: 0px 3px 0px -1em; }#content { margin-left: 14em; padding: 1em; width: 700px; border-left: 2px solid rgb(77, 77, 77); background-color: rgb(28, 28, 33); }#about { clear: both; padding: 5px; border-top: 2px solid rgb(77, 77, 77); background-color: rgb(28, 28, 33); }@media print {
  body { font: 12pt "Times New Roman", TimeNR, Times, serif; }
  a { font-weight: bold; color: rgb(0, 64, 128); text-decoration: underline; }
  #main { background-color: rgb(255, 255, 255); border-left: 0px; }
  #container { margin-left: 2%; margin-right: 2%; background-color: rgb(255, 255, 255); }
  #content { padding: 1em; background-color: rgb(255, 255, 255); }
  #navigation { display: none; }
  pre.example { font-family: "Andale Mono", monospace; font-size: 10pt; break-inside: avoid; }
}table.module_list { border-width: 1px; border-style: solid; border-color: rgb(77, 77, 77); border-collapse: collapse; }table.module_list td { border-width: 1px; padding: 3px; border-style: solid; border-color: rgb(77, 77, 77); }table.module_list td.name { background-color: rgb(41, 41, 41); min-width: 200px; }table.module_list td.summary { width: 100%; }table.function_list { border-width: 1px; border-style: solid; border-color: rgb(77, 77, 77); border-collapse: collapse; }table.function_list td { border-width: 1px; padding: 3px; border-style: solid; border-color: rgb(77, 77, 77); }table.function_list td.name { background-color: rgb(12, 12, 49); min-width: 200px; }table.function_list td.summary { width: 100%; }dl.table dt, dl.function dt { border-top: 1px solid rgb(77, 77, 77); padding-top: 1em; }dl.table dd, dl.function dd { padding-bottom: 1em; margin: 10px 0px 0px 20px; }dl.table h3, dl.function h3 { font-size: 0.95em; }ul.nowrap { overflow: auto; }ul ul { margin-top: 0px; }ol ul { margin-top: 0px; }ol ol { margin-top: 0px; }ul ol { margin-top: 0px; }a:target + * { background-color: rgb(102, 75, 0); }pre .comment { color: rgb(195, 230, 153); }pre .constant { color: rgb(230, 196, 153); }pre .escape { color: rgb(221, 177, 162); }pre .keyword { color: rgb(214, 168, 168); font-weight: bold; }pre .library { color: rgb(153, 230, 218); }pre .marker { color: rgb(221, 177, 162); background: rgb(102, 75, 0); font-weight: bold; }pre .string { color: rgb(153, 153, 230); }pre .number { color: rgb(230, 182, 153); }pre .operator { color: rgb(153, 166, 230); font-weight: bold; }pre .preprocessor, pre .prepro { color: rgb(225, 157, 168); }pre .global { color: rgb(230, 153, 230); }pre .prompt { color: rgb(195, 230, 153); }pre .url { color: rgb(153, 157, 230); text-decoration: underline; }
